In [4]:
# üìå 1. Fetching Data from a CSV File
import pandas as pd

# Load CSV
df_csv = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
print("‚úÖ CSV Data Loaded")
print(df_csv.head())

‚úÖ CSV Data Loaded
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# üìå 3. Fetching Data from SQL Database
import sqlite3

# Create in-memory database
conn = sqlite3.connect(":memory:")

# Create sample table
conn.execute("CREATE TABLE students (id INTEGER, name TEXT, score INTEGER)")
conn.execute("INSERT INTO students VALUES (1, 'Alice', 85), (2, 'Bob', 90), (3, 'Charlie', 78)")

# Fetch into pandas
df_sql = pd.read_sql_query("SELECT * FROM students", conn)
print("‚úÖ SQL Data Loaded")
print(df_sql)

‚úÖ SQL Data Loaded
   id     name  score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     78

In [10]:
# üìå 4. Fetching Data from an API
import requests

url = "https://jsonplaceholder.typicode.com/posts"  # Sample public API
response = requests.get(url)

if response.status_code == 200:
    data_api = response.json()
    df_api = pd.DataFrame(data_api)
    print("‚úÖ API Data Loaded")
    print(df_api.head())
else:
    print("‚ùå Failed to fetch API data")

‚úÖ API Data Loaded
   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...